.product-carousel {
    margin: 20px auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    align-items: center;
    gap: 10px;

    .product-carousel__track {
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        div {
            height: 100%;

            img {
                height: 100%;
                object-fit: contain;
            }
        }
    }
}